<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Convenzioni</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div padding>
        <ion-segment [(ngModel)]="selectedConv">
          <ion-segment-button value="hotels">
            Hotel
          </ion-segment-button>
          <ion-segment-button value="restaurants">
            Ristoranti
          </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="selectedConv">
        <div *ngSwitchCase="'hotels'">
            <ion-card
                [id]="item.id"
                *ngFor="let item of hotelsList"
                class="card"
                (click)="openModal(item)"
            >
                <img [src]=item.imgPath class="card-img"/>
                <ion-card-header>
                    {{item.name}}
                </ion-card-header>
                <ion-card-content class="card-content-right">
                    <div>
                        <ion-icon slot="start" class="icon-spacing" name="logo-euro"></ion-icon>
                        {{item.price}}
                    </div>
                    <div>
                        <ion-icon slot="start" class="icon-spacing" name="navigate"></ion-icon>
                        {{item.address}}
                    </div>
                    <div>
                        <ion-icon slot="start" class="icon-spacing" name="call"></ion-icon>
                        {{item.telNumber}}
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
        <div *ngSwitchCase="'restaurants'">
            <ion-card
                *ngFor="let item of restaurantsList"
                class="card"
                [id]="item.id"

                (click)="openModal(item)"
            >
                <img [src]=item.imgPath class="card-img"/>
                <ion-card-header>
                        {{item.name}}
                </ion-card-header>
                <ion-card-content class="card-content-right">
                    <div>
                        <ion-icon slot="start" class="icon-spacing" name="navigate"></ion-icon>
                        {{item.address}}
                    </div>
                    <div>
                        <ion-icon slot="start" class="icon-spacing" name="call"></ion-icon>
                        {{item.telNumber}}
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
  </ion-content>