ion-content{
    --color: #2c3e50;
}

.card-img{
    float: left;
    width: 35vw;
    height: 35vw;
    border-bottom-left-radius: 12px;
}

.card-content-right{
    margin-left: 35vw;
}

.card{
    background-color: #fafafa;
    border-radius: 1em;
    border: .1em solid #576574 .1em solid #576574 .1em solid #576574;
    margin-top: 2em !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


.card-info{
    margin-left: 1em;;
}

.icon-spacing{
    margin: .1em;
    width: 1em;
}

.light-text{
    color: #7f8fa6;
}

