.hotel-top-img{
    height: 23vh;
    width: 100vw;
    position: relative;
}

.hotel-close-icon{
    position: absolute;
    top: .3em;
    left: .3em;
}

.align-right{
    text-align: right;
    margin-right: 0;
}

.text-grey{
    color: grey;
}

.description{
    color: darkgray;
    margin-top: 1vh;
}

.btn-call{
    background-color: lightseagreen;
    color: whitesmoke;
}

#map_canvas{
    height: 25vh;
    width: 100%;
}



